
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h2 {
  font-family: 'Lato';
  font-weight: 900;
}
p {
  font-family: 'Lato';
  font-weight: 300;
}
.home_main{
  margin-top: 0;
}
.section1 {
  padding-top: 5px;
  background-color: #F5F5F5;
  min-height: 200px;
}
.section_content {
  margin-right:30px;
  margin-left:30px;
}
.section_content h2 {
  color:#112252;
}
.section2{
  margin-top:0;
  margin-bottom:0;
  min-height: 200px;
  background-color: #F5F5F5;
}
.section2_title{
  text-align: left;
}
.section3{
  background-color: #4FD0F5;
  height: 160px;
}
.section3 .section_content
{
  color: #112252;
  display: flex;
}
.sectionImageCarousel
{
  width: 100%;
}
.manufacturer {
  height: 120px;  
}

.placeholder_image{
  background-color:#F5F5F5; 
  width:300; 
  padding-top:10;
  padding-bottom:2;
  margin-bottom:10px;
}

.wwb_background{
  background-image: url('./app/content/heartland_hero_1024.png');
  background-repeat: no-repeat;
  background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wwb_p{
  width:25%;
}
.wwr_c{
  align-content: center;
}
.wwr_text{
  width: 25%;
  color:#112252;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.phhc_logo{
  padding-top: 40px;
}

.aspe_logo{
  padding-top:55px;
}

.org_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  max-width: 200px;
  width:100px;
}

.org_div{
  height:100%;
  padding-left: 15px;
}

.vertical-align {
        display: flex;
        align-items: center;
        vertical-align: middle;
    }


.contact_infol2{
  display: block;
  height:100%;
}

.contact_info{
  height:100%;
}

@media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
    .wwr_text{
      width: 100%;
    }
    .section3 .section_content
    {
      color: #112252;
    }
    .contact_info{
      text-align: left;
      height:100%;
    }
    
}
@media (max-width: 768px) {
    .wwr_text{
      width: 100%;
    }
    .section3 .section_content
    {
      color: #112252;
    }
    .contact_info{
      text-align: left;
      height:100%
    }
    .contact_infol2{
      display: block;
      text-align: left;
      width:100%;
    }
}
@media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  .manufacturer {
    height: 160px;  
  }
}
